/* CSS for buttons */
.buttons {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.buttons button {
  width: 30%;
}

.dontKnow {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.showAnswer {
  position: absolute;
  left: 35%;
  bottom: 0px;
}
.next {
  position: absolute;
  right: 0;
  bottom: 0px;
}
.complete {
  position: absolute;
  height: 20%;
  width: 100%;
  top: 40%;
  margin: auto;
}
.counts {
  position: absolute;
  top: 20px;
  left: 20px;
  color: lightgrey;
}
.save {
  position: absolute;
  top: 550px;
  width: 100%;
}

/*  CSS for main questions  */
div.currentQuestion {
  margin-top: 20px;
  color: white;
}

div.currentQuestion .question{
  width: 60%;
  margin: auto;
  text-align: left;
}

div.currentQuestion .answer {
  text-align: left;
  width: 60%;
  margin: auto;
}
.questions {
  height: 520px;
  position: relative;
}

.saved {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(35, 35, 35, .95);
  color: white;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 30px;
}

.savedQuestions {
  height: 80%;
  overflow-y: auto;
}
.saved div {
  margin-left: 20px;
  margin-right: 20px;
}


/*  Container and Background  */
.container {
  background: #1e1e1e;

  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
body {
  background: #d3d3d3;
  height: 100%;
  font-size: 1.5em;
}


/*  Media Queries  */